body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f8f9fa; /* Bootstrap light background */
}

a {
  text-decoration: none;
}

.hover-shadow:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transition: 0.2s ease;
}

textarea {
  font-family: monospace;
}